// Custom styles for CoinJerk
// Coded by Alex Macpherson
//   Mixins
@import "mixins/coinjerkmixins";
@import "variables";
@import "mixins/breakpoints";
//   Google Fonts
@include gwf( 'Raleway:400,600,800');
// Coinjerk Variables
$cj_blue: #29aae2;
$cj_hover: #137dab;
//   Base HTML Elements
body {
    font-family: 'Raleway', sans-serif;
    background-color: #101010;
    background: url('../img/coinjerk_bg.jpg');
    color: #fff;
}

a {
    color: $cj_blue;
    text-decoration: none;

    &:active,
    &:visited {
        color: $cj_blue;
        text-decoration: none;
    }

    &:focus,
    &:hover {
        color: $cj_hover;
        text-decoration: none !important;
    }
}

footer {
    background-color: #0a0a0a;
    color: #6b6b6b;
    @include font-size(11px);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
}
//   Bootstrap 4 Overrights
.jumbotron {
    background-color: transparent;
    min-height: 350px;
    text-align: center;
    color: #ffffff;
    padding: 0;

    h1 {
        @include font-size(30px);
        font-weight: 800;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
        @include media-breakpoint-up(sm) {
             @include font-size(30px);
        }
        @include media-breakpoint-up(md) {
             @include font-size(40px);
        }
        @include media-breakpoint-up(lg) {
             @include font-size(50px);
        }
        @include media-breakpoint-up(xl) {
             @include font-size(60px);
        }
    }

    h2 {
        @include font-size(11px);
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
        @include media-breakpoint-up(sm) {
             @include font-size(15px);
        }
        @include media-breakpoint-up(md) {
             @include font-size(18px);
        }
        @include media-breakpoint-up(lg) {
             @include font-size(19px);
        }
        @include media-breakpoint-up(xl) {
             @include font-size(20px);
        }
    }

    p {
        @include font-size(20px);
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 0;
        line-height: 25px;
        @include media-breakpoint-up(sm) {
             @include font-size(30px);
            line-height: 25px;
        }
        @include media-breakpoint-up(md) {
             @include font-size(40px);
            line-height: 35px;
        }
        @include media-breakpoint-up(lg) {
             @include font-size(50px);
            line-height: 50px;
        }
        @include media-breakpoint-up(xl) {
             @include font-size(50px);
            line-height: 50px;
        }
    }

    img {
        height: 25px;
        @include media-breakpoint-up(sm) {
            height: 35px;
        }
        @include media-breakpoint-up(md) {
            height: 45px;
        }
        @include media-breakpoint-up(lg) {
            height: 55px;
        }
        @include media-breakpoint-up(xl) {
            height: 61px;
        }
    }
}

.welcome {
    background-color: transparent;
    min-height: 450px;
    text-align: center;
    color: #ffffff;
    padding: 0;

    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    h1 {
        @include font-size(30px);
        font-weight: 800;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
        @include media-breakpoint-up(sm) {
             @include font-size(30px);
        }
        @include media-breakpoint-up(md) {
             @include font-size(40px);
        }
        @include media-breakpoint-up(lg) {
             @include font-size(50px);
        }
        @include media-breakpoint-up(xl) {
             @include font-size(60px);
        }
    }

    h2 {
        @include font-size(11px);
        line-height: 26px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
        @include media-breakpoint-up(sm) {
             @include font-size(15px);
        }
        @include media-breakpoint-up(md) {
             @include font-size(18px);
        }
        @include media-breakpoint-up(lg) {
             @include font-size(19px);
        }
        @include media-breakpoint-up(xl) {
             @include font-size(20px);
        }
    }

    p {
        @include font-size(20px);
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 0;
        line-height: 25px;
        @include media-breakpoint-up(sm) {
             @include font-size(30px);
            line-height: 25px;
        }
        @include media-breakpoint-up(md) {
             @include font-size(40px);
            line-height: 35px;
        }
        @include media-breakpoint-up(lg) {
             @include font-size(50px);
            line-height: 50px;
        }
        @include media-breakpoint-up(xl) {
             @include font-size(50px);
            line-height: 50px;
        }
    }

    img {
        height: 75px;
        @include media-breakpoint-up(sm) {
            height: 75px;
        }
        @include media-breakpoint-up(md) {
            height: 85px;
        }
        @include media-breakpoint-up(lg) {
            height: 90px;
        }
        @include media-breakpoint-up(xl) {
            height: 94px;
        }
    }
}

.button1 {
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    color: #ffffff;
    @include font-size(14px);
    text-transform: uppercase;
    background: #323232;
    padding: 10px 30px;
    border-bottom: solid #29aae2 3px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;

    &:hover {
        background: #3cb0fd;
        text-decoration: none;
    }
}

.card {
    .card-img-top {
        @include border-radius-all(0px);
    }

    &.bg-inverse {
        @include border-radius-all(0px);
        // background-color:$black !important;
        background-color: rgba(0,0,0,0.7) !important;
        color: #fff;
        @include font-size(12px);

        .card-title {
            @include font-size(40px);
            text-transform: uppercase;
            font-weight: 800;
            color: $cj_blue;
            @include media-breakpoint-up(sm) {
                 @include font-size(40px);
            }
            @include media-breakpoint-up(md) {
                 @include font-size(50px);
            }
            @include media-breakpoint-up(lg) {
                 @include font-size(55px);
            }
            @include media-breakpoint-up(xl) {
                 @include font-size(60px);
            }
        }

        .card-subtitle {
            @include font-size(25px);
            text-transform: uppercase;
            font-weight: 600;

            small {
                @include font-size(14px);
            }
        }
    }
}

//   Form Elements
form {
    margin-top: 20px;
    padding-left: 10px;

    .form-group {
        padding-top: 5px;
    }

    label {
        @include font-size(20px);
        font-weight: 600;
        text-transform: uppercase;
    }

    input {
        background-color: #0a0a0a !important;
        color: #fff;
    }

    textarea {
        background-color: #0a0a0a !important;
    }
}


//   Custom Elements
.highlight {
    color: $cj_blue;
    text-decoration: none;
}

.logo-bar {
    background-color: #000;
    z-index: 1000;
    position: relative;

    img {
        height: 50px;
        @include media-breakpoint-up(sm) {
            height: 50px;
        }
        @include media-breakpoint-up(md) {
            height: 65px;
        }
        @include media-breakpoint-up(lg) {
            height: 80px;
        }
        @include media-breakpoint-up(xl) {
            height: 94px;
        }
    }

    a,
    a:active,
    a:focus,
    a:visited {
        @include font-size(27px);
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;

        &:hover {
            color: $cj_blue;
            text-decoration: none;
        }
    }

    .sml-text {
        @include font-size(10px);
    }
}

.overlay {
    position: relative;
    z-index: 1100;
    background-color: rgba(0,0,0,0.75);
    // padding-top: 60px;
    // padding-bottom: 10px;
    max-height: 250px;


    h1 {
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        margin-left: 40px;
        @include font-size(20px);

        @include media-breakpoint-up(sm) {
             @include font-size(25px);
        }
        @include media-breakpoint-up(md) {
             @include font-size(35px);
        }
        @include media-breakpoint-up(lg) {
             @include font-size(45px);
        }
        @include media-breakpoint-up(xl) {
             @include font-size(45px);
        }
    }

    p {
        margin-left: 50px;
        text-transform: uppercase;
        @include font-size(12px);
        font-weight: 600;

        @include media-breakpoint-up(sm) {
             @include font-size(15px);
        }
        @include media-breakpoint-up(md) {
             @include font-size(18px);
        }
        @include media-breakpoint-up(lg) {
             @include font-size(20px);
        }
        @include media-breakpoint-up(xl) {
             @include font-size(20px);
        }
    }
}
